.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
  li{ 
    list-style-type:disc;

  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  [mat-raised-button]:hover {
    color: black;
    background-color: rgb(214, 14, 14);
  }
  [mat-raised-button]:not(:hover) {
    color: black;
    background-color: rgb(238, 234, 234);
  }