

<div style="position: absolute;margin-left:0vw;margin-top:30vh;width:20vw;height:20vh;">
  <img id="img1" (click)="view_all_invetedcustomer()" src=".\assets\11.png"style="position:absolute;left:7vw">
  <a (click)="view_all_invetedcustomer()" style="cursor:pointer;position: absolute;top:16.5vh;left:4vw;font-size: large;color: gray;">ניהול רשימות מוזמנים לאירוע
  </a></div>

<div style="position: absolute;margin-left:20vw;margin-top:30vh;width:15vw;height:20vh;">
  <img id="img2" style="position:absolute;left:4vw ; top:3vh;"(click)="placeinvited()" src=".\assets\22.png">
  <a (click)="placeinvited()" style="cursor:pointer;position: absolute;top:16.5vh;left:4vw;font-size: large;color: gray;">סידור הושבת המוזמנים  
  </a>
</div>


<div style="position: absolute;margin-left:38vw;margin-top:30vh;width:20vw;height:20vh;">
  <img id="img3" style="position:absolute;left:6vw ; top:3vh;"(click)="sendemail()" src=".\assets\33.png">

  <a (click)="sendemail()" style="cursor:pointer;position: absolute;top:16.5vh;left:4vw;font-size: large;color: gray;">שליחת הודעת מייל למוזמנים  
  </a>
 </div>



 <div style="position: absolute;margin-left:60vw;margin-top:30vh;width:20vw;height:20vh;">
  <img id="img4" style="position:absolute;left:6vw ; top:3vh;"(click)="View_Scheduling()" src=".\assets\44.png">
  <a (click)="View_Scheduling()" style="cursor:pointer;position: absolute;top:16.5vh;left:4vw;font-size: large;color: gray;">סידור מקומות לאירוע זה  
  </a>
 </div>

 <div style="position: absolute;margin-left:80vw;margin-top:30vh;width:20vw;height:20vh;">
  <img id="img5" style="position:absolute;left:4.7vw ; top:3vh;"(click)="CreateMap()" src=".\assets\מפה.png">
  <a (click)="CreateMap()" style="cursor:pointer;position: absolute;top:16.5vh;left:4vw;font-size: large;color: gray;">    יצירת מפת אולם   
  </a>
 </div>




  