
<div style="margin-top:20vh;">
<mat-accordion  >
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        ?Save The Date מה הוא שירות    
    </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>.שירות Save The Date הינו שירות לארגון וניהול אירועים. באמצעות השירות ניתן לארגן את רשימת המוזמנים, לנהל את שיבוץ המוזמנים במקומות לפי דרישותיהם בצורה נוחה  ופשוטה, ליצור את מפת האולם, לשלוח תזכורות למועד האירוע, לקבל אישורי הגעה לאירוע ועוד</p>
  </mat-expansion-panel>


  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
?אילו אירועים ניתן לנהל באמצעות השירות    
</mat-panel-title>
<mat-panel-description>
</mat-panel-description>
</mat-expansion-panel-header>
<p>.ניתן לנהל כל אירוע שיש לו מוזמנים לדוגמא - חתונות, בר/ת מצווה, בריתות, כנסים, הופעות, מסיבות וכדומה</p>
</mat-expansion-panel>



<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
?כמה אירועים אפשר לפתוח בחשבון אחד    
</mat-panel-title>
<mat-panel-description>
</mat-panel-description>
</mat-expansion-panel-header>
<p>ניתן לפתוח כמה אירועים שתרצו. הרעיון העומד מאחורי זה הוא שתוכלו לנהל ולתעד את כל האירועים בחייכם, לדוגמא חתונה, ברית, בר מצווה. </p>
</mat-expansion-panel>


<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
?מאיזה מייל נשלח למוזמנים הזמנה     
</mat-panel-title>
<mat-panel-description>
</mat-panel-description>
</mat-expansion-panel-header>
<p>   ההודעה נשלחת מהמייל של המערכת </p>
<p>efratlimudim@gmail.com כתובת המייל הינה </p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
?האם החשבון נסגר לאחר תקופה מסויימת    
</mat-panel-title>
<mat-panel-description>
</mat-panel-description>
</mat-expansion-panel-header>
<p>  החשבון ישאר פעיל עד מתי שתרצו. </p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
?האם ניתן להוסיף קישורים לגוף הההודעה   
</mat-panel-title>
<mat-panel-description>
</mat-panel-description>
</mat-expansion-panel-header>
<p>  ניתן להוסיף קישורים לגוף ההודעה. ברגע שמקליקים עליהם  הם פותחים את הדפדפן עם הכתובת הרצויה </p>
<p>כך המוזמן יוכל להוסיף אילוצים ובקשות </p>
</mat-expansion-panel>
</mat-accordion>
</div>
